.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#ball {
  animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite bounce;
}

.App-header h1,
p {
  margin: 10px 0;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
