.App {
  width: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
}

.App-container {
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ball {
  max-width: 150px;
  max-height: 150px;
  animation: 1s cubic-bezier(0.311, 0.441, 0.444, 1.3) 0s infinite bounce;
}

#error-text {
  text-align: center;
}

.ipInfo {
  margin-top: 25px;
  background: #33373e;
  margin: 20px 0;
  padding: 20px;
  border-radius: 30px;
  display: flex;
}

#info-left {
  flex: 0 53%;
  text-align: right;
  border-right: 3px solid white;
  padding-right: 40px;
}

#info-left h1 {
  font-size: 2em;
}

#info-left p,
#info-left h1 {
  margin: 10px 0 0;
}

#info-left > p + small,
#info-left > h1 + small {
  font-size: 14px;
  display: block;
  color: #999;
}

#info-right {
  align-self: flex-end;
  position: relative;
  bottom: -10px;
}

#info-right > .ball {
  margin-left: 30px;
}

@media screen and (max-width: 550px) {
  .App-container {
    margin: 0 20px;
  }
  #info-left {
    text-align: center;
    flex: 1;
    border-right: none;
    padding-right: 0;
  }
  #info-right {
    display: none;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

#dev-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

#dev-menu-contents {
  cursor: default;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  background: #33373e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
}

#dev-menu-contents button {
  cursor: pointer;
  width: 100%;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  color: #282c34;
}
